<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CPUs</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<h1>CPUs</h1>
<input type="text" id="searchBar" placeholder="Search for CPUs...">
<table id="ComponentTable">
    <thead>
    <tr>
        <th>Naziv</th>
        <th>Tip</th>
        <th>Cena</th>
        <th>Težina</th>
        <th>Dodaj</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="case : ${cases}">
        <td th:text="${case.name}">Naziv</td>
        <td th:text="${case.type}">Tip</td>
        <td th:text="${case.price}+ '€'"> Cena</td>
        <td th:text="${case.weight}+ 'kg'">Težina</td>
        <td>
            <form th:action="@{/assemble/pick_a_part/addCase}" method="post">
                <input type="hidden" name="caseId" th:value="${case.id}" />
                <input type="hidden" name="caseName" th:value="${case.name}" />
                <input type="hidden" name="casePrice" th:value="${case.price}" />
                <button type="submit">Dodaj</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<script th:src="@{/script.js}"></script>
</body>
</html>
