<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GPUs</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>GPUs</h1>
<table>
    <thead>
    <tr>

        <th>Name</th>
        <th>Memory</th>
        <th>Boost Clock (MHz)</th>
        <th>Price ($)</th>
        <th>Memory Type</th>
        <th>Wattage (W)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="gpu : ${gpus}">
        <td th:text="${gpu.name}">Naziv</td>
        <td th:text="${gpu.memory}">Memorija</td>
        <td th:text="${gpu.boostClock}">Brzina</td>
        <td th:text="${gpu.price}+ '€'">Cena</td>
        <td th:text="${gpu.memoryType}">Tip memorije</td>
        <td th:text="${gpu.wattage}+ 'W'">Napajanje</td>
        <td>
            <form th:action="@{assemble/pick_a_part/addGpu}" method="post">
                <input type="hidden" name="gpuId" th:value="${gpu.ranking}" />
                <input type="hidden" name="gpuName" th:value="${gpu.name}" />
                <button type="submit">Add</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
