<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GPUs</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<h1>Grafičke</h1>
<input type="text" id="searchBar" placeholder="Pronađi grafičku...">
<table id="ComponentTable">
    <thead>
    <tr>

        <th>Naziv</th>
        <th>Memorija</th>
        <th>Radni takt</th>
        <th>Cena</th>
        <th>Tip memorije</th>
        <th>Napajanje</th>
        <th>Dodaj</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="gpu : ${gpus}">
        <td th:text="${gpu.name}">Naziv</td>
        <td th:text="${gpu.memory}">Memorija</td>
        <td th:text="${gpu.boostClock}">Brzina</td>
        <td th:text="${gpu.price}+ '€'">Cena</td>
        <td th:text="${gpu.memoryType}">Tip memorije</td>
        <td th:text="${gpu.wattage}+ 'W'">Napajanje</td>
        <td>
            <form th:action="@{assemble/pick_a_part/addGpu}" method="post">
                <input type="hidden" name="gpuId" th:value="${gpu.ranking}" />
                <input type="hidden" name="gpuName" th:value="${gpu.name}" />
                <input type="hidden" name="gpuPrice" th:value="${gpu.price}" />
                <input type="hidden" name="gpuWattage" th:value="${gpu.wattage}" />
                <button type="submit">Dodaj</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<script th:src="@{/script.js}"></script>
</body>
</html>
