<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GPUs</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<h1>Matične ploče</h1>
<input type="text" id="searchBar" placeholder="Pronađi matičnu...">
<table id="ComponentTable">
    <thead>
    <tr>

        <th>Naziv</th>
        <th>Soket</th>
        <th>Maksimalna količina memorije</th>
        <th>Memorijski slotovi</th>
        <th>Tip memorije</th>
        <th>Cena</th>
        <th>Napajanje</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="motherboard : ${motherboards}">
        <td th:text="${motherboard.name}">Naziv</td>
        <td th:text="${motherboard.socket}">Memorija</td>
        <td th:text="${motherboard.memoryMax}">Brzina</td>
        <td th:text="${motherboard.memorySlots}">Cena</td>
        <td th:text="${motherboard.ddrType}">Tip memorije</td>
        <td th:text="${motherboard.price}+ '€'">Tip memorije</td>
        <td th:text="${motherboard.wattage}+'W'">Napajanje</td>
        <td>
            <form th:action="@{assemble/pick_a_part/addMotherboard}" method="post">
                <input type="hidden" name="motherboardId" th:value="${motherboard.id}" />
                <input type="hidden" name="motherboardName" th:value="${motherboard.name}" />
                <input type="hidden" name="motherboardPrice" th:value="${motherboard.price}" />
                <input type="hidden" name="motherboardWattage" th:value="${motherboard.wattage}" />
                <input type="hidden" name="motherboardMemorySlots" th:value="${motherboard.memorySlots}" />
                <button type="submit">Dodaj</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<script th:src="@{/script.js}"></script>
</body>
</html>
