<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GPUs</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<h1>Napajanja</h1>
<input type="text" id="searchBar" placeholder="Pronađi napajanje...">
<table id="ComponentTable">
    <thead>
    <tr>

        <th>Naziv</th>
        <th>Procenat efikasnosti</th>
        <th>Snaga</th>
        <th>Cena</th>
        <th>Modularno</th>
        <th>Dodaj</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="psu : ${psus}">
        <td th:text="${psu.name}">Naziv</td>
        <td th:text="${psu.efficiencyRating}">Memorija</td>
        <td th:text="${psu.wattage}+'W'">Brzina</td>
        <td th:text="${psu.price}+ '€'">Cena</td>
        <td th:text="${psu.modular}">Tip memorije</td>
        <td>
            <form th:action="@{assemble/pick_a_part/addPsu}" method="post">
                <input type="hidden" name="psuId" th:value="${psu.id}"/>
                <input type="hidden" name="psuName" th:value="${psu.name}"/>
                <input type="hidden" name="psuPrice" th:value="${psu.price}"/>
                <input type="hidden" name="psuWattage" th:value="${psu.wattage}"/>
                <button type="submit">Dodaj</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<script th:src="@{/script.js}"></script>
</body>
</html>
