<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CPUs</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>CPUs</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Socket</th>
        <th>Price ($)</th>
        <th>Napajanje</th>
        <th>Broj jezgara</th>
        <th>Brzina</th>
        <th>Integrisana grafička</th>
        <th>Add</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ram : ${rams}">
        <td th:text="${ram.name}">Naziv</td>
        <td th:text="${ram.speed}+'MHz'">Soket</td>
        <td th:text="${ram.price}+'€'">Cena</td>
        <td th:text="${ram.module}">Napajanje</td>
        <td th:text="${ram.cas}">Broj jezgara</td>
        <td>
            <form th:action="@{/assemble/pick_a_part/addRam}" method="post">
                <input type="hidden" name="ramId" th:value="${ram.id}" />
                <input type="hidden" name="ramPrice" th:value="${ram.price}" />
                <button type="submit">Add</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
