<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CPUs</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<h1>Skladište</h1>
<input type="text" id="searchBar" placeholder="Pronađi skladište...">
<table id="ComponentTable">
    <thead>
    <tr>
        <th>Naziv</th>
        <th>Kapacitet</th>
        <th>Tip</th>
        <th>Konektor</th>
        <th>Cena</th>
        <th>Brzina čitanja</th>
        <th>Brzina upisa</th>
        <th>Dodaj</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="storage : ${storages}">
        <td th:text="${storage.name}">Naziv</td>
        <td th:text="${storage.capacity}">Soket</td>
        <td th:text="${storage.type}">Cena</td>
        <td th:text="${storage.interfaceType}">Napajanje</td>
        <td th:text="${storage.price}+'€'">Broj jezgara</td>
        <td th:text="${storage.readSpeed}">Brzina</td>
        <td th:text="${storage.writeSpeed}">Integrisana grafička</td>
        <td>
            <form th:action="@{/assemble/pick_a_part/addStorage}" method="post">
                <input type="hidden" name="storageId" th:value="${storage.id}" />
                <input type="hidden" name="storagePrice" th:value="${storage.price}" />
                <button type="submit">Dodaj</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<script th:src="@{/script.js}"></script>
</body>
</html>
