<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Assembles</title>
</head>
<body>
<h1>User Assembles</h1>
<div th:each="assemble : ${assembles}">
    <h2 th:text="${assemble.computerName}">Computer Name</h2>
    <p>CPU: <span th:text="${assemble.cpuName}">CPU Name</span></p>
    <p>GPU: <span th:text="${assemble.gpuName}">GPU Name</span></p>
    <p>Motherboard: <span th:text="${assemble.motherboardName}">Motherboard Name</span></p>
    <p>PSU: <span th:text="${assemble.psuName}">PSU Name</span></p>
    <p>Case: <span th:text="${assemble.caseName}">Case Name</span></p>
    <p>Cooler: <span th:text="${assemble.coolerName}">Cooler Name</span></p>
    <p>Storage:
        <span th:each="storageName : ${assemble.storageNames}" th:text="${storageName}">Storage Names</span>
    </p>
    <p>RAM:
        <span th:each="ramName : ${assemble.ramNames}" th:text="${ramName}">RAM Names</span>
    </p>
</div>
</body>
</html>
